* {
    margin: 0;
    padding: 0;
}

.movie-list {
    /*display: inline-block;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search-results {
    position: absolute;
    z-index: 10;
    /*background-color: #fff;*/
}

.dropdown-menu{
    max-height: 180px;
    overflow-y: auto;
}

.poster img {
    width: 100%;
}